.image-gallery-item{
  width: 100%;
  height: 100%;
}

/*.image-gallery-item-thumbnail{
  max-width: 96px;
  max-height: 66px;
}*/

.image-gallery-thumbnail{
  width: 90px;
  height: 66px;
}

.image-gallery-thumbnail img{
  width: 100%;
  height: 58px;
  object-fit: cover !important;  
  object-position: center;
}